[tool.black]
line-length = 100
target-version = ['py311']
skip-string-normalization = false

[tool.isort]
profile = "black"
line_length = 88

[tool.flake8]
max-line-length = 88
extend-ignore = [
    "E203",  # compatibilidade com black
    "W503",  # compatibilidade com black
]
